@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.cinzelFont {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

.cinzelFontHero {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.balthazarFont {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

.poppinsFont {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fontQwigley {
  font-family: "Qwigley", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .scroll-stack-card {
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  contain: layout paint style;
} */
